---
- name: Install Postgres management library for Python
  package:
    name: python-psycopg2

- name: Create archive directory
  file:
    path: "{{ pgrs_archive_dir }}"
    state: directory
    owner: postgres
    mode: 0770

- name: Find Postgres home directory
  user:
    name: postgres
  register: postgres_user
  check_mode: true

- name: Configure Postgres client authentication
  lineinfile:
    create: true
    mode: 0600
    owner: postgres
    path: "{{ postgres_user.home }}/.pgpass"
    regexp: >-
      {{ '^' ~ ('%(host)s:*:%(db)s:%(user)s:' | format(
      host = host,
      db = pgrs_user.database,
      user = pgrs_user.name
      ) | regex_escape) }}
    line: >-
      {{ '%(host)s:*:%(db)s:%(user)s:%(passw)s' | format(
      host = host,
      db = pgrs_user.database,
      user = pgrs_user.name,
      passw = pgrs_user.password
      ) }}
  loop: "{{ pgrs_pgpass_hosts }}"
  loop_control:
    loop_var: host

- name: Install slave recovery script
  template:
    src: pg_slave_init.sh.j2
    dest: "{{ pgrs_slave_script }}"
    mode: 0755

- name: Configure master
  import_tasks: master.yml
  delegate_to: "{{ pgrs_master }}"
  run_once: true

- name: Configure slave
  import_tasks: slave.yml
  delegate_to: "{{ pgrs_slave }}"
  run_once: true
