#!/bin/bash -e
: ${PG_DATA:={{ pgrs_data_dir }}}
: ${MASTER:={{ pgrs_replica_set_master }}}
: ${REPUSER:={{ pgrs_user.name }}}

if [[ "$EUID" -eq "0" ]]; then
  echo "This script should be run as user postgres." >&2
  exit 1
fi

if [[ "$1" != "--force" ]]; then
  read -p "Delete data from $PG_DATA? [yes/NO] "
  if [[ "${REPLY,,}" != "yes" ]]; then
    echo "Data left intact." >&2
    exit
  fi
fi

cd
set -x

find "$PG_DATA" -mindepth 1 -delete
pg_basebackup --host="$MASTER" --username="$REPUSER" --pgdata="$PG_DATA" --xlog-method=stream
